*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body{
    height: 100vh;
}
//body.dark{
//    background: #000;
//}
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(8, 0, 0);
    width: 100%;
}
.theme{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    font-size: 2em;
    text-transform: capitalize;
    color: white;
}
.checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox:checked + .label .ball{
    transform: translateX(26px);
}
.checkbox:checked + .label{
    background-color: #262645;
}
.label{
    height: 25px;
    width: 55px;
    background-color: rgb(122, 122, 247);
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 50px;
    position: relative;
    padding: 5px;
}
.ball{
    background-color: #FFD700;
    width: 20px;
    height: 20px;
    left: 4px;
    position: absolute;
    border-radius: 50%;
    transition: ease-in 0.3s;
}